/* quick menu */
.quick_menu {
	text-align: center;
	background-color: #fff;
	padding: 40px 0 37px;
}

.quick_menu ul {
	overflow: hidden;
	display: inline-block;
}

.quick_menu ul li {
	float: left;
	margin-left: 80px;
}

.quick_menu ul li:first-child {
	margin-left: 0
}

.quick_menu ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	height: 70px;
	padding-left: 90px;
}

.quick_menu ul li .icon {
	background: url(../images/main/icon_quickmenu.png) no-repeat;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
}

.quick_menu ul li strong {
	color: #292929;
	font-size: 18px;
	display: block;
	margin-top: 12px;
	letter-spacing: -0.04em;
	text-align: left;
}

.quick_menu ul li span {
	color: #999999;
	font-size: 13px;
	display: block;
	margin-top: 6px;
	letter-spacing: -0.02em;
	text-align: left;
}

.quick_menu ul li.qm01 .icon {
	background-position: 0px 0px;
}

.quick_menu ul li.qm02 .icon {
	background-position: -70px 0px;
}

.quick_menu ul li.qm03 .icon {
	background-position: -140px 0px;
}

.quick_menu ul li.qm04 .icon {
	background-position: -210px 0px;
}

/* footer */
#footer {
	background-color: #292929;
	color: #666666;
	padding: 22px 0;
	position: relative;
	z-index: 9
}

#footer:after {
	content: '';
	position: absolute;
	left: 0;
	top: 59px;
	width: 100%;
	height: 1px;
	background-color: #3b3b3b
}

#footer .content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

#footer .content span {
    color: #666666;
}

#footer .content .util_menu {
	margin-bottom: 25px;
}

#footer .content .util_menu ul {
	overflow: hidden;
}

#footer .content .util_menu ul li {
	float: left;
	margin-right: 29px;
}

#footer .content .util_menu ul li a {
	color: #666666;
	display: block;
	font-size: 14px;
	letter-spacing: -0.05em
}

#footer .content .util_menu ul li a strong {
	color: #bbbbbb
}

#footer .content .util_menu ul li a.eng {
	letter-spacing: 0.05em
}

#footer .content span {
	position: relative;
	display: inline-block;
	margin-top: 19px;
	font-size: 13px;
	padding-left: 9px;
	margin-left: 3px;
	letter-spacing: -0.01em
}

#footer .content span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 2px;
	height: 10px;
	background-color: #666666
}

#footer .content span.addr {
	padding-left: 0;
	margin-left: 0;
	color: #666666;
}

#footer .content span.addr:after {
	display: none;
}

#footer .content .copyright {
	font-family: font_sw;
	font-size: 13px;
	line-height: 25px;
	padding-top: 2px;
	letter-spacing: 0.005em;
	color: #666666;
}

#footer .content .sns_area {
	position: absolute;
	right: 40px;
	bottom: 3px;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	width: 50px;
	height: 50px;
}

#footer .content .sns_area:after {
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	opacity: 0;
	transition-duration: 0.3s;
}

#footer .content .sns_area:hover:after {
	opacity: 1
}

#footer .content .sns_area.fackbook {
	background: url("../images/common/icon_sns_facebook.png") 0 0 no-repeat;
}

#footer .content .sns_area.fackbook:after {
	background: url("../images/common/icon_sns_facebook.png") 100% 0 no-repeat;
}

#footer .content .sns_area.fackbook:hover:after {
	opacity: 1
}

#footer .content .sns_area.instagram {
	right: 105px;
	background: url("../images/common/icon_sns_instar.png") 0 0 no-repeat;
}

#footer .content .sns_area.instagram:after {
	background: url("../images/common/icon_sns_instar.png") 100% 0 no-repeat;
}